/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body and container styles */
body,
html {
  background-color: #121212;
  color: #f0f0f0;
  line-height: 1.6;
  padding: 50px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #1e1e1e;
  padding: 2rem 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(151, 151, 151);
}

/* Headings */
h1,
h2 {
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
}

/* Product list */
#product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
#product-list span {
  margin-right: 5rem;
}

#product-list {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
  text-align: center;
}

#product-list h2 {
  margin: 2.5rem 0;
}

#product-list p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#product-list button {
  background-color: #bb86fc;
  color: #000;
  border: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#product-list button:hover {
  background-color: #985eff;
}

/* Cart */
#cart-items {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

#empty-cart {
  color: #999;
  text-align: center;
}

/* Cart total section */
#cart-total {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

#cart-total p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#checkout-btn {
  background-color: #bb86fc;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checkout-btn:hover {
  background-color: #985eff;
}

/* Hidden utility class */
.hidden {
  display: none;
}
